.env
.env-sample
tmp*.yaml
package-contents
package-repo
bitnami-jupyter/jupyter-packagerepository
bitnami-jupyter/jupyter-package-template.yaml
bitnami-jupyter/jupyter-values.yaml
bitnami-jupyter/jupyter-deployment.yaml